<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/styles/bootstrap.css" rel="stylesheet" />
    <link href="~/styles/jonquxburtonwordpuzzle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/lodash.min.js"></script>
    <script src="~/Scripts/jonquxburtonwordpuzzle/config.js"></script>
    <script src="~/Scripts/jonquxburtonwordpuzzle/direction.js"></script>
    <script src="~/Scripts/jonquxburtonwordpuzzle/point.js"></script>
    <script src="~/Scripts/jonquxburtonwordpuzzle/puzzleline.js"></script>
    <script src="~/Scripts/jonquxburtonwordpuzzle/puzzle.js"></script>
    <script src="~/Scripts/jonquxburtonwordpuzzle/tile.js"></script>
    <script src="~/Scripts/jonquxburtonwordpuzzle/letter.js"></script>
    <script src="~/Scripts/jonquxburtonwordpuzzle/model.js"></script>
    <script src="~/Scripts/jonquxburtonwordpuzzle/ui.js"></script>
    <script src="~/Scripts/jonquxburtonwordpuzzle/gamebuilder.js"></script>
    <script src="~/Scripts/jonquxburtonwordpuzzle/gameupdater.js"></script>
    <script src="~/Scripts/jonquxburtonwordpuzzle/boardstate.js"></script>
    <script src="~/Scripts/jonquxburtonwordpuzzle/boardstatefactory.js"></script>
    <script src="~/Scripts/jonquxburtonwordpuzzle/boardstatemanipulator.js"></script>
    <script src="~/Scripts/jonquxburtonwordpuzzle/boardcontroller.js"></script>
</head>
<body>
    <div class="container body-content">

        <h1>Solve the Anagram</h1>

        <div class="well">
            <p>(by dragging the letters onto the tiles)</p>
        </div>

        <div id="gameDiv">

        </div>

        <div id="answerResultDiv">
            <span style="display:none" class="glyphicon glyphicon-ok"></span>
            <span style="display:none" class="glyphicon glyphicon-remove"></span>
        </div>

        <div>
            <button id="resetButton" type="button" class="btn btn-warning">Reset</button>
        </div>

    </div>

    <script>

        var config;

            $(function () {

                config = new JonQuxBurton.WordPuzzle.Config();
                config.tileSize = 8;
                config.letterReboundDuration = 100;
                config.answer = "MALLARD";

                var lines = [{ origin: { x: 0, y: 1 }, length: 7, direction: JonQuxBurton.WordPuzzle.Direction.Horizontal }];
                var puzzle = new JonQuxBurton.WordPuzzle.Puzzle("MALLADR", lines);

                var boardStateFactory = new JonQuxBurton.WordPuzzle.BoardStateFactory();
                var boardState = boardStateFactory.build(puzzle);
                var boardStateManipulator = new JonQuxBurton.WordPuzzle.BoardStateManipulator(boardState);
                var boardController = new JonQuxBurton.WordPuzzle.BoardController(boardState, boardStateManipulator);

                var gameDiv = $("#gameDiv");
                var answerResultDiv = $("#answerResultDiv");

                var gameBuilder = new JonQuxBurton.WordPuzzle.GameBuilder($, gameDiv, answerResultDiv, config, boardController, boardState);
                var gameUpdater = new JonQuxBurton.WordPuzzle.GameUpdater($, gameDiv, answerResultDiv, config);

                boardState.lettersShunted = gameUpdater.lettersShunted;
                boardState.answerChanged = answerChanged;

                gameBuilder.build();

                $("#resetButton").click(function () {
                    location.reload();
                });
            });

            function answerChanged(newAnswer) {

                var answerResultDiv = $("#answerResultDiv");

                if (newAnswer.indexOf(" ") >= 0) {
                    answerResultDiv.children(".glyphicon-ok").hide();
                    answerResultDiv.children(".glyphicon-remove").hide();
                    return;
                }

                if (newAnswer == config.answer) {
                    answerResultDiv.children(".glyphicon-ok").show();
                    answerResultDiv.children(".glyphicon-remove").hide();
                } else {
                    answerResultDiv.children(".glyphicon-ok").hide();
                    answerResultDiv.children(".glyphicon-remove").show();
                }
            }

    </script>
</body>
</html>